:root{

  /* COLOR PALLETE */
  --primary-color: #495E57; 
  --secondary-color: #F4CE14;
  --subtitle-color: #EDEFEE;
  --paragraph-color: #434343;
  --subheading-color: #333333;
  --price-color: #EE9972;
  --card-background: #EDEFEE;

  
}

* {
  padding: 0;
  margin: 0;
}

/* Global Definitions */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1{
  font-family: 'Markazi Text';
  font-size: 4em;
  font-weight: 500;
  color: var(--secondary-color);
}

h2{
  font-family: 'Markazi Text';
  font-size: 2.5em;
  font-weight: normal;
  color: var(--subtitle-color);
}

h3{
  font-family: 'Karla';
  font-size: 1.125em;
  font-weight: bolder;
  color: var(--subtitle-color);
}

h4{
  font-family: 'Karla';
  font-size: 2em;
  font-weight: bolder;
  color: var(--subheading-color);
}

h5{
  font-family: 'Karla';
  font-size: 1em;
  font-weight: bold;
  color: var(--subheading-color);
}

h6{
  font-family: 'Karla';
  font-size: 1em;
  font-weight: bold;
  color: var(--price-color);
}

p{
  font-family: 'Karla';
  font-size: 1em;
  font-weight: normal;
  color: var(--paragraph-color);
}

ul {
  list-style: none;
}

li{
  font-family: 'Karla';
}

img{
  border-radius: 16px;
}

button{
  display: block;

  border-radius: 16px;
  
  border:none;
  background-color: var(--secondary-color);
  padding: 1em 2em 1em 2em;

  font-family: 'Karla';
  font-size: 1em;
  font-weight: 600;

  margin: 1em 0;
}

button:hover,
button:active{
  background-color: var(--price-color);
  cursor: pointer;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

header .navLink {
  text-decoration: none;
  font-weight: 600;
  color: var(--subheading-color);
}

header .navLink:hover{
  color: var(--primary-color);
}

header .hamburgerNav{
  display: none;
}

header img {
  max-width: 15em;  
  padding: 1em 0 1em 0;  

}

header ul {
  display: flex;  
  flex-wrap: wrap;
  list-style: none;
  margin: auto 0 auto 0;
}

header li {
  padding: 0 1em 0 1em;
  margin: 0 auto 0 auto;
  font-size: large;
}

.transparentBackground {
  background-color: #333333;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  right:0;
  z-index: 1;

}

.hamburgerNav img{
  border-radius: 0;
}

.hamburgerNav ul{
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--primary-color);

  text-align: left;
  padding: 3em 0 0 0;
}

.hamburgerNav li{ 
  padding: 1.5em 6em 1.5em 0.5em;
  margin: 0;
}

.hamburgerNav .navLink{
  color: var(--secondary-color);
}

.hamburgerNav .navLink:hover{
  color: var(--subtitle-color);
}

.openHamburgerMenu{
  position: fixed;
  top: 0;
  z-index: 2;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 1em 0 0 3em;
  border-radius: 16px 0 0 16px;

  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Will select the first child */
.openHamburgerMenu>:hover{
  color: var(--subtitle-color);
}

.openHamburgerMenu button{
  background: none;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}


/* MAIN */
main{
  display: flex;
  flex-direction: column;
}

/* MAIN */
/* Hero Banner */
.heroBanner {
  display:grid;

  grid-template-areas: "title image"
                       "content image";
    

  padding: 2em 10em 2em 10em;
  justify-content: space-evenly;
  gap: 3em;

  background-color: var(--primary-color);
}

.heroBannerTitle{
  grid-area: title;
}

.heroBannerContent{
  grid-area: content;  
  max-width: 20em;
}

.heroBanner img{
  grid-area:image;
  max-width: 15em;
  align-self: center;
  justify-self: end;
}

/* MAIN */
/* WeeklySpecials */
.sideByside{
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.weeklySection h4{
  text-align: center;
  padding: 2em 0;
}

.sideByside button{
  margin: auto 0 auto;
}


.weeklySpecialsContent{
  
  display:flex;

  justify-content: center;
  flex-wrap: wrap;

}
.specialsCard {
  display: grid;
  grid-template-columns: 1fr; 

  border-radius: 16px 16px 0 0;
  background-color: var(--card-background);
  
  margin: 2em 2em;
}

.specialsCard img {
  max-width: 20em;

  border-radius: 16px 16px 0 0;
}


.cardContent {  
  display: grid;

  grid-template-areas: "titlePrice titlePrice"
                       "description description"
                        "button button";

  max-width: 20em;
  /* column-gap: 2em; */
  padding: 1em 0 0 0;
  
}

.cardTitlePrice{
  display: flex;
  justify-content: space-between;

  grid-area: titlePrice;
  padding: 1em 1em 4em 1.5em;;
}

.cardContent p{
  grid-area: description;
  padding: 0 1em 4em 1em;
  text-align: center;
}

.cardContent button{
  grid-area: button;

  background-color: transparent;
  color: var(--subheading-color);
  border-radius: 0;
  cursor: pointer;

  text-align: left;
  margin: 0;
}

.cardContent button:hover{
  color: var(--secondary-color);
}


/* FORM */
form {

  display: grid;
  grid-template-columns: 1fr;  

  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 0.5em 2em 2em 2em; 
  margin: 4em 0.5em 0.5em 0.5em;  
}

form input[type="submit"]{
  background-color: var(--secondary-color);

   min-width: 0;
   width: 15em;
   height: 3.5em;
   margin: 0 auto 0 auto;

   font-family: 'Karla';
  font-size: 1em;
  font-weight: 600;
}

form input[type="submit"]:hover:enabled{
  background-color: var(--price-color);
}

form label{
  color: var(--subtitle-color);
  font-weight: 500;
  padding: 0em 0 0.5em 0;

  margin-top: 2em;
}

form input {
  border: none;
  border-radius: 16px;
  /* min-height: 4vh; */

  padding-left: 1em;

  width: 45em;
  height: 2em;

  font-family: 'Karla';

}

form input::value{
  padding-left: 1em;
}


form select {
  border: none;
  border-radius: 16px;
 
  width: 45em;
  height: 2em;

  padding-left: 1em;

}

.formSection{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  margin: 4em 0 4em 0;
  font-family: 'Karla';
}

form small{
  padding: 2em 0 0 0;
  color: var(--subtitle-color);
}

form p{
  color: var(--price-color);
}

.confirmationTable{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  justify-items: center;
  margin: 4em 0 4em 0;
}

.confirmationTable h4{
  padding: 0 0 1em 0;
}

table {
  border-radius: 16px;
  margin: 2em;
  padding: 4em;
  background-color: var(--primary-color);
}

td{
  padding: 1.5em;
}

td h5{
  color: var(--subtitle-color);
}
th{
  padding: 0 0 1em 0;
  text-align: center;
  color: var(--secondary-color);
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--primary-color);
  padding: 1.5em 0 1.5em 0;
}

footer img {
  max-width: 5em;
}

footer ul {
  list-style: none;
}

footer li{
  color: var(--subtitle-color);
}

footer h3{
  color: var(--price-color);
}

footer .navLink{
  text-decoration: none;
  color: var(--subtitle-color);
}

footer .navLink:hover{
  color: var(--secondary-color);
}

.footerSocial{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}

.footerSocial ul{
  display: flex;
}

.footerSocial li{
  padding: 0 1em 0 1em;
}

.footerSocial a{
  text-decoration: none;
  color: var(--card-background);
}

.footerSocial a:hover{
  color: var(--secondary-color);
  cursor: pointer;
}

.footerSocial h3{
  grid-column: 1/3;
}

.footerContact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}

.footerContact ul{
  display:flex;
  flex-direction: column;

}

.footerContact li{
  padding: 0.2em 0 0.2em 0;
}

.doormatNav h3{
  padding: 0 0 1em 0;
}

.doormatNav:nth-child(2){
  text-align: center;
}
/* Smaller Screens */
@media only screen and (max-width: 700px){
  
  /* HEADER  */
  header{
    display: flex;
    justify-content: space-between;
    margin: 1em 1em 1em 1em;
  }

  header .desktopNav {
    display: none;
  }

  header img {
    max-width: 10em;
  }

  header .hamburgerNav {
    display: block;
  }

  /* MAIN */
.heroBanner{
    display: grid;

    grid-template-areas: "title title"                         
                         "content image";
      
}

  .heroBannerContent{
    align-self: center;
    min-width: 7em;
  }

  .heroBanner button{
    align-self: start;
  }

  .heroBanner img{    
    max-width: 10em;    
  }

  form input {
    width: 18em;    
  }

  form input[type="submit"]{
    margin: 2em auto 0 auto;
    width: 10 em;
  }

  form select {
    width: 18em;
  }


  /* FOOTER */
  footer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  footer h3{
    padding: 0 0 0.5em 0;
  }

  footer img {
    max-width: 3em;
    grid-column: 1/3;
  }

  .doormatNav{
    display: none;    
  } 

  
}
